html { 
    scroll-behavior: smooth; 
}

body {
    background: linear-gradient(rgb(1, 1, 65), rgb(76, 76, 185));
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inplab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: yellow;
    font-size: 3vh;
}


.who {
    overflow:hidden;
    display: flex;
    height: 100vh;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#who, #about, #title, #theme {
    height: 10vh;
    width: 30vw;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-size: 8vh;
    margin-bottom: 3vh;
}

#title {
    height: 20vh;
}


.chart {
    overflow:hidden;
    display: flex;
    height: 80vh;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.mobile-chart {
    width: 100vw;
}

.mobile {
    flex-direction: column-reverse;
    align-items: center;
}