html { 
    scroll-behavior: smooth; 
}

body {
    overflow: hidden;
    background: linear-gradient(rgb(1, 1, 65), rgb(76, 76, 185));
}

.inplab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: yellow;
    font-size: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.who {
    overflow:hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#who {
    height: 10vh;
    width: 40vw;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-size: 8vh;
    margin-bottom: 3vh;
}

#emotions {
    height: 10vh;
    width: 40vw;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-size: 8vh;
}

.arrow-down {
    margin-top: 3vh;
    width: 0; 
    height: 0; 
    border-left: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-top: 5vh solid blanchedalmond;
    border-radius: 20px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-bottom: 5vh solid blanchedalmond;
    margin-bottom: 3vh;
    border-radius: 20px;
  }


.chart {
    overflow:hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}